<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 well">
      <h1 class="page-header">Hello, Joe!</h1>
      <form class="form-inline" name="form" novalidate>
        <div class="form-group">
          <label for="fromValueInput">How many Dogecoins do you have?</label>
          <input id="fromValueInput" class="form-control" type="number" name="fromValue" data-ng-model="fromValue"/>
          <button class="btn btn-primary" data-ng-click="vm.refresh()">Refresh</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-ui-sref-active="active">
          <a data-ui-sref="peercoin-tab" aria-controls="profile" role="tab">Peercoin</a>
        </li>
        <li role="presentation" data-ui-sref-active="active">
          <a data-ui-sref="litecoin-tab" aria-controls="profile" role="tab">Litecoin</a>
        </li>
        <li role="presentation" data-ui-sref-active="active">
          <a data-ui-sref="dash-tab" aria-controls="profile" role="tab">DASH</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" data-ui-view></div>
      </div>
    </div>
  </div>
</div>
